a:link {
 color:black;
 text-decoration:none;
 background-color: fuchsia;
 border: 1px solid black;
 border-radius: 5px;
 display: inline-block; 
 width:200px;
}

a:visited {
 color: black;
 text-decoration: none;
 background-color:fuchsia;
 border:1px solid black;
 border-radius:5px;
}

a:active {
 color: silver;
 text-decoration: none;
 background-color: black;
 border:1px dashed silver;
 border-radius: 5px;
}

a:hover {
 color:yellow;
 text-decoration: none;
 background-color: green;
 border:1px dotted yellow;
 border-radius:5px;
}